* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ea2c2c;

  --bg-color: #050505;
  --bg-color-trans: #05050588;

  --font-color-white: #ececec;
}

body {
  background: url("../assets/motionBg.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;

  /* 스크롤바 스타일 */
  /* FireFox */
  scrollbar-width: 10px;
  scrollbar-color: black;
  scrollbar-face-color: red;
}
/* Safari, Chrome */
body::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
}

/* 공통 스타일 */
ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* 최상위 클래스 */
.app {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* header */
.banner {
  background-color: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}
.banner__title {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

/* header buttons */
.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem;
}
.create-button {
  background-color: var(--primary-color);
  color: black;
  padding: 0.5rem 1.8rem;
  font-size: 1.5rem;
  margin: 0 1rem;
  transition: 0.3s;
  text-transform: uppercase;
  /* 드래그 막기 */
  user-select: none;
}
.create-button:hover {
  color: var(--font-color-white);
}

/* main (document) */
.document {
  background-color: var(--bg-color-trans);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--font-color-white);
  padding: 1.5rem 0;
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--bg-color-trans);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(red);
  background: var(yellow);
  border: 1px solid pink;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px black;
}
